{{define "content"}}
<div id="auth">
  {{template "alert" .}}
  <div class="container">
    <div class="row h-100 mt-5 justify-content-center">
      <div class="col-lg-4 col-md-6 col-12 text-center">
        <div id="auth-center">
          <div class="auth-logo">
            <a href="#"><img class="w-25" src="{{.AssetBase}}/mazer/assets/static/images/logo/fusion_works.png" alt="Logo" /></a>
          </div>
          <p class="auth-subtitle mb-5 mt-5">Silahkan pilih role anda</p>

          <form action="/continue-login" method="POST">
            <input type="hidden" name="_csrf" value="{{.CsrfToken}}" />
            {{ if .State }}
            <input type="hidden" name="state" value="{{.State}}" />
            {{ end }}
            <div class="form-group position-relative has-icon-left mb-4">
              <input type="hidden" name="id" value="{{ .Profile.ID }}" />
              <input
                type="text"
                class="form-control form-control-xl"
                placeholder="Email" value="{{ .Profile.Email }}"
                readonly
              />
              <div class="form-control-icon">
                <i class="fas fa-envelope"></i>
              </div>
            </div>
            <div class="form-group position-relative has-icon-left mb-4">
              <input
                type="text"
                class="form-control form-control-xl"
                placeholder="Name" value="{{ .Profile.Name }}"
                readonly
              />
              <div class="form-control-icon">
                <i class="bi bi-person"></i>
              </div>
            </div>

            <div class="form-group position-relative has-icon-left mb-4">
              <select class="form-control form-control-xl" name="role_id">
                <option value="">Pilih Role</option>
                {{ range .Roles }}
                <option value="{{ .ID }}">{{ .Name }}</option>
                {{ end }}
              </select>
              <div class="form-control-icon">
                <i class="fas fa-shield"></i>
              </div>
            </div>
            <button class="btn btn-success btn-block btn-lg shadow-lg mt-5">
              Continue
            </button>
            <a href="/logout" class="btn btn-danger btn-block btn-lg shadow-lg mt-2">
              Log out
            </a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}
