{{define "base"}}<!DOCTYPE html>
<html lang="en">
  {{template "tailwind" .}} {{block "custom_head" .}}{{end}}
  <body class="flex flex-col w-screen h-screen">
    {{ if not (call .HasRole "superadmin") }}
    <div class="flex flex-row p-4 border-b border-gray-300 w-full">
      <a href="/login"
        ><img
          class="w-40"
          src="{{.AssetBase}}/mazer/assets/static/images/logo/logo-full.png"
          alt="Logo"
      /></a>
      <div class="flex flex-grow justify-end">
        <header class="flex flex-row ">
          <nav class="flex flex-grow flex-col">
          <div class="dropdown flex-grow flex flex-row  flex-grow items-center rounded-lg p-0">
            <a href="#" data-bs-toggle="dropdown" aria-expanded="false" class="flex flex-grow flex-col">
              <div class="user-menu flex flex-row items-center flex-grow font-bold ">
                <div class="user-name me-3 flex-grow">
                  <h6 class="mb-0 text-black">
                    {{if .Profile }} {{.Profile.Name}} {{else}} Guest
                    {{end}}
                  </h6>
                </div>
                <div class="user-img d-flex align-items-center">
                  <div class="flex -space-x-2 overflow-hidden">
                    <img
                      class="inline-block size-10 rounded-full " 
                      src="{{.AssetBase}}/mazer/assets/static/images/faces/2.jpg"
                    />
                  </div>
                </div>
              </div>
            </a>
            <ul
              class="dropdown-menu dropdown-menu-end shadow-md"
              aria-labelledby="dropdownMenuButton"
              style="min-width: 11rem"
            >
              <li>
                <h6 class="dropdown-header">
                  Hello, {{if .Profile }} {{.Profile.Name}} {{else}} Guest
                  {{end}}
                </h6>
              </li>
              {{if .Profile}}
              <li>
                <a class="dropdown-item" href="#"
                  ><i class="icon-mid fas fa-lock me-2"></i> Change
                  Password</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="/logout"
                  ><i class="icon-mid bi bi-box-arrow-left me-2"></i>
                  Logout</a
                >
              </li>
              {{else}}
              <li>
                <a class="dropdown-item" href="/login"
                  ><i class="icon-mid bi bi-box-arrow-in-right me-2"></i>
                  Login</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="/register"
                  ><i class="icon-mid bi bi-person-plus me-2"></i>
                  Register</a
                >
              </li>
              {{end}}
            </ul>
          </div>
          </nav>
          <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
          </a>
        </header>
      </div>
    </div>
    {{ else }}
    <div class="flex md:hidden flex-row p-4 border-b border-gray-300 w-full">
      <a href="/login"
        ><img
          class="w-40"
          src="{{.AssetBase}}/mazer/assets/static/images/logo/logo-full.png"
          alt="Logo"
      /></a>
      <div class="flex flex-grow justify-end">
        <header class="flex flex-row ">
          <nav class="flex flex-grow flex-col">
          <div class="dropdown flex-grow flex flex-row  flex-grow items-center rounded-lg p-0">
            <a href="#" data-bs-toggle="dropdown" aria-expanded="false" class="flex flex-grow flex-col">
              <div class="user-menu flex flex-row items-center flex-grow font-bold ">
                <div class="user-name me-3 flex-grow">
                  <h6 class="mb-0 text-black">
                    {{if .Profile }} {{.Profile.Name}} {{else}} Guest
                    {{end}}
                  </h6>
                </div>
                <div class="user-img d-flex align-items-center">
                  <div class="flex -space-x-2 overflow-hidden">
                    <img
                      class="inline-block size-10 rounded-full " 
                      src="{{.AssetBase}}/mazer/assets/static/images/faces/2.jpg"
                    />
                  </div>
                </div>
              </div>
            </a>
            <ul
              class="dropdown-menu dropdown-menu-end shadow-md"
              aria-labelledby="dropdownMenuButton"
              style="min-width: 11rem"
            >
              <li>
                <h6 class="dropdown-header">
                  Hello, {{if .Profile }} {{.Profile.Name}} {{else}} Guest
                  {{end}}
                </h6>
              </li>
              {{if .Profile}}
              <li>
                <a class="dropdown-item" href="#"
                  ><i class="icon-mid fas fa-lock me-2"></i> Change
                  Password</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="/logout"
                  ><i class="icon-mid bi bi-box-arrow-left me-2"></i>
                  Logout</a
                >
              </li>
              {{else}}
              <li>
                <a class="dropdown-item" href="/login"
                  ><i class="icon-mid bi bi-box-arrow-in-right me-2"></i>
                  Login</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="/register"
                  ><i class="icon-mid bi bi-person-plus me-2"></i>
                  Register</a
                >
              </li>
              {{end}}
            </ul>
          </div>
          </nav>
        </header>
      </div>
    </div>
    {{ end }}
    <script src="{{.AssetBase}}/mazer/assets/static/js/initTheme.js"></script>
    <div id="app " class="bg-portal flex-grow flex flex-row">
      {{ if call .HasRole "superadmin" }} {{template "sidebar" .}} {{ end }}
      <div id="main" class="flex-grow flex flex-col {{ if call .HasRole "superadmin" }}layout-navbar navbar-fixed {{ else }}layout-navbar navbar-fixed no-sidebar ml-0 {{ end }}">
        <!-- <header class="hidden">
          <nav class="navbar navbar-expand navbar-light navbar-top">
            <div class="container-fluid">
              <a href="#" class="burger-btn d-block">
                <i class="bi bi-justify fs-3"></i>
              </a>
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-lg-0"></ul>
                <div class="dropdown">
                  <a href="#" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="user-menu d-flex">
                      <div class="user-name text-end me-3">
                        <h6 class="mb-0 text-gray-600">
                          {{if .Profile }} {{.Profile.Name}} {{else}} Guest
                          {{end}}
                        </h6>
                      </div>
                      <div class="user-img d-flex align-items-center">
                        <div class="">
                          <img
                            src="{{.AssetBase}}/mazer/assets/static/images/faces/2.jpg"
                          />
                        </div>
                      </div>
                    </div>
                  </a>
                  <ul
                    class="dropdown-menu dropdown-menu-end"
                    aria-labelledby="dropdownMenuButton"
                    style="min-width: 11rem"
                  >
                    <li>
                      <h6 class="dropdown-header">
                        Hello, {{if .Profile }} {{.Profile.Name}} {{else}} Guest
                        {{end}}
                      </h6>
                    </li>
                    {{if .Profile}}
                    <li>
                      <a class="dropdown-item" href="#"
                        ><i class="icon-mid fas fa-lock me-2"></i> Change
                        Password</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="/logout"
                        ><i class="icon-mid bi bi-box-arrow-left me-2"></i>
                        Logout</a
                      >
                    </li>
                    {{else}}
                    <li>
                      <a class="dropdown-item" href="/login"
                        ><i class="icon-mid bi bi-box-arrow-in-right me-2"></i>
                        Login</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="/register"
                        ><i class="icon-mid bi bi-person-plus me-2"></i>
                        Register</a
                      >
                    </li>
                    {{end}}
                  </ul>
                </div>
              </div>
            </div>
          </nav>
          <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
          </a>
        </header> -->
        <div id="main-content" class="flex-grow flex flex-col">
          <div class="page-heading flex-grow flex-col flex m-0">
            {{template "alert" .}} {{block "heading" .}}{{end}} {{block
            "content" .}}{{end}}
          </div>
        </div>
      </div>
    </div>
    {{template "script" .}} {{block "custom-script" .}}{{end}}
  </body>
</html>
{{end}}
