{{define "sidebar"}}
<div id="sidebar" class=" ">
  <div class="sidebar-wrapper active rounded-r-3xl shadow-md bg-red-500 flex flex-col">
    <div class="position-relative ">
      <div class="d-flex justify-content-between align-items-center">
        <div class="px-12 py-8 pb-0">
          <a href="#">
            <img  class="w-40 " src="{{.AssetBase}}/mazer/assets/static/images/logo/logo-full.png" alt="" />
          </a>
        </div>
        
        <div class="sidebar-toggler x">
          <a href="#" class="sidebar-hide d-xl-none d-block"
            ><i class="bi bi-x bi-middle"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="flex-grow sidebar-menu">
      <ul class="menu">
        <li class="sidebar-item {{if eq .CurrentPath "/portal"}}active-sidebar-item{{end}}">
          <a href="/portal" class="sidebar-link">
            <i class="bi bi-grid-fill {{if eq .CurrentPath "/portal"}}text-white{{end}}"></i>
            <span>Portal</span>
          </a>
        </li>
        <li class="sidebar-item {{if eq .CurrentPath "/users/"}}active-sidebar-item{{end}}">
          <a href="/users" class="sidebar-link">
            <i class="fas fa-user"></i>
            <span>Users</span>
          </a>
        </li>
        <li class="sidebar-item {{if eq .CurrentPath "/employees/"}}active-sidebar-item{{end}}">
          <a href="/employees" class="sidebar-link">
            <i class="fas fa-user-shield"></i>
            <span>Employees</span>
          </a>
        </li>
        <li class="sidebar-item {{if eq .CurrentPath "/roles/"}}active-sidebar-item{{end}}">
          <a href="/roles" class="sidebar-link">
            <i class="fas fa-users"></i>
            <span>Roles</span>
          </a>
        </li>
        <li class="sidebar-item {{if eq .CurrentPath "/permissions/"}}active-sidebar-item{{end}}">
          <a href="/permissions" class="sidebar-link">
            <i class="fas fa-user-shield"></i>
            <span>Permissions</span>
          </a>
        </li>
      </ul>
    </div>
    <header class="flex flex-row w-full p-4 pt-0 ">
      <nav class="flex flex-grow flex-col">
      <div class="dropdown bg-[#313678] flex-grow flex flex-row  flex-grow items-center rounded-lg  px-4 py-3">
        <a href="#" data-bs-toggle="dropdown" aria-expanded="false" class="flex flex-grow flex-col">
          <div class="user-menu flex flex-row items-center flex-grow  ">
            <div class="flex-grow items-center flex flex-row gap-x-2">
              <div class="user-img d-flex align-items-center">
                <div class="flex -space-x-2 overflow-hidden">
                  <img
                    class="inline-block size-10 rounded-full " 
                    src="{{.AssetBase}}/mazer/assets/static/images/faces/2.jpg"
                  />
                </div>
              </div>
              <div class="user-name ">
                <div class="mb-0 text-white text-xs font-bold">
                  {{if .Profile }} {{.Profile.Name}} {{else}} Guest
                  {{end}}
                </div><div class="mb-0 text-white text-xs">
                  {{if .Profile }} {{.Profile.Email}} {{else}} Guest
                  {{end}}
                </div>
              </div>
            </div>
            <div class=" items-center flex flex-row gap-x-2">
              <div class="text-white items-center justify-center flex flex-row ">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none"><path d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"/><path fill="currentColor" d="M12 16.5a1.5 1.5 0 1 1 0 3a1.5 1.5 0 0 1 0-3m0-6a1.5 1.5 0 1 1 0 3a1.5 1.5 0 0 1 0-3m0-6a1.5 1.5 0 1 1 0 3a1.5 1.5 0 0 1 0-3"/></g></svg>
              </div>
            </div>
          </div>
        </a>
        <ul
          class="dropdown-menu dropdown-menu-end shadow-md"
          aria-labelledby="dropdownMenuButton"
          style="min-width: 11rem"
        >
          <li>
            <h6 class="dropdown-header">
              Hello, {{if .Profile }} {{.Profile.Name}} {{else}} Guest
              {{end}}
            </h6>
          </li>
          {{if .Profile}}
          <li>
            <a class="dropdown-item" href="#"
              ><i class="icon-mid fas fa-lock me-2"></i> Change
              Password</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="/logout"
              ><i class="icon-mid bi bi-box-arrow-left me-2"></i>
              Logout</a
            >
          </li>
          {{else}}
          <li>
            <a class="dropdown-item" href="/login"
              ><i class="icon-mid bi bi-box-arrow-in-right me-2"></i>
              Login</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="/register"
              ><i class="icon-mid bi bi-person-plus me-2"></i>
              Register</a
            >
          </li>
          {{end}}
        </ul>
      </div>
      </nav>
      <a href="#" class="burger-btn d-block d-xl-none">
        <i class="bi bi-justify fs-3"></i>
      </a>
    </header>
  </div>
</div>

{{end}}
