{{define "sidebar"}}
<div id="sidebar">
  <div class="sidebar-wrapper active rounded-r-3xl shadow-md">
    <div class=" position-relative ">
      <div class="d-flex justify-content-between align-items-center">
        <div class="px-12 py-8 pb-0">
          <a href="#">
            <img  class="w-40 " src="{{.AssetBase}}/mazer/assets/static/images/logo/logo-full.png" alt="" />
          </a>
        </div>
        
        <div class="sidebar-toggler x">
          <a href="#" class="sidebar-hide d-xl-none d-block"
            ><i class="bi bi-x bi-middle"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="sidebar-menu">
      <ul class="menu">
        <li class="sidebar-item {{if eq .CurrentPath "/portal"}}active-sidebar-item{{end}}">
          <a href="/portal" class="sidebar-link">
            <i class="bi bi-grid-fill {{if eq .CurrentPath "/portal"}}text-white{{end}}"></i>
            <span>Portal</span>
          </a>
        </li>
        <li class="sidebar-item {{if eq .CurrentPath "/users/"}}active{{end}}">
          <a href="/users" class="sidebar-link">
            <i class="fas fa-user"></i>
            <span>Users</span>
          </a>
        </li>
        <li class="sidebar-item {{if eq .CurrentPath "/employees/"}}active{{end}}">
          <a href="/employees" class="sidebar-link">
            <i class="fas fa-user-shield"></i>
            <span>Employees</span>
          </a>
        </li>
        <li class="sidebar-item {{if eq .CurrentPath "/roles/"}}active{{end}}">
          <a href="/roles" class="sidebar-link">
            <i class="fas fa-users"></i>
            <span>Roles</span>
          </a>
        </li>
        <li class="sidebar-item {{if eq .CurrentPath "/permissions/"}}active{{end}}">
          <a href="/permissions" class="sidebar-link">
            <i class="fas fa-user-shield"></i>
            <span>Permissions</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

{{end}}
