{{define "content"}}
<div class="page-title">
  <div class="row">
    <div class="col-12 col-md-6 order-md-1 order-last">
      <h3>Users</h3>
    </div>
    <div class="col-12 col-md-6 order-md-2 order-first">
      <nav
        aria-label="breadcrumb"
        class="breadcrumb-header float-start float-lg-end"
      >
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Users</a></li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<div class="container">
  <h2>Users</h2>
  <table id="usersTable" class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{range .Users}}
      <tr>
        <td>{{.ID}}</td>
        <td>{{.Name}}</td>
        <td>{{.Email}}</td>
        <td>
          <a href="/users/edit/{{.ID}}" class="btn btn-primary">Edit</a>
          <a href="/users/delete/{{.ID}}" class="btn btn-danger">Delete</a>
        </td>
      </tr>
      {{end}}
    </tbody>
  </table>
</div>
{{end}} {{define "custom-script"}}
<script>
  $(document).ready(function () {
    $("#usersTable").DataTable();
  });
</script>
{{end}}
